.news-toolbar {
  height: 40px;
  font-weight: bold;
}

.scroll {
  height: 100%;
  width: 100%;
}

.spinner {
  margin: 50px auto 50px auto;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.news-refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #449394;
}

.news-ingress-card {
  margin: 20px 10px;
}

.news-ingress-card-footer {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0;

  a {
    text-decoration: none;
  }
}

:host ::ng-deep img {
  max-width: 100%;
  height: auto;
}

:host ::ng-deep iframe {
  max-width: 100%;
  height: auto;
}

:host ::ng-deep .wp-block-image {
  margin: 10px 20px;
}

:host ::ng-deep video {
  max-width: 100%;
  height: auto;
}

:host ::ng-deep wp-block-video {
  margin: 10px 20px;
}

:host ::ng-deep hr {
  display: none;
}

:host ::ng-deep h2 {
  font-size: 20px;
}

:host ::ng-deep p {
  font-size: 18px;
  line-height: 27px;
}

:host ::ng-deep a {
  word-break: break-all;
}
