<mat-toolbar color="primary" class="news-toolbar">
  <span>Siste nytt</span>
</mat-toolbar>
<cdk-virtual-scroll-viewport autosize class="scroll">
  <mat-card *cdkVirtualFor="let post of posts$ | async" class="news-ingress-card">
    <mat-card-header>
      <mat-card-title [innerHTML]="post.title | sanitizeSafeHtml"></mat-card-title>
      <mat-card-subtitle>{{ post.dateGmt | date }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!!post.excerpt" [innerHTML]="post.excerpt | sanitizeSafeHtml"></div>
      <div *ngIf="!post.excerpt" [innerHTML]="post.content | ingress | sanitizeSafeHtml"></div>
    </mat-card-content>
    <mat-card-footer class="news-ingress-card-footer">
      <a [routerLink]="['/news/post', post.id]" routerLinkActive="active" ariaCurrentWhenActive="page">Les mer...</a>
    </mat-card-footer>
  </mat-card>
  <mat-progress-spinner
    [mode]="'indeterminate'"
    [diameter]="50"
    class="spinner"
    *ngIf="isLoading$ | async"></mat-progress-spinner>
</cdk-virtual-scroll-viewport>
