/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@font-face {
  font-family: 'MarkPro';
  src: url(./assets/fonts/mark/MarkPro-ExtraLight.ttf);
  src: url(./assets/fonts/mark/MarkPro-ExtraLight.ttf) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'MarkPro';
  src: url(./assets/fonts/mark/MarkPro-Light.ttf);
  src: url(./assets/fonts/mark/MarkPro-Light.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'MarkPro';
  src: url(./assets/fonts/mark/MarkPro.ttf);
  src: url(./assets/fonts/mark/MarkPro.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'MarkPro';
  src: url(./assets/fonts/mark/MarkPro-Medium.ttf);
  src: url(./assets/fonts/mark/MarkPro-Medium.ttf) format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'MarkPro';
  src: url(./assets/fonts/mark/MarkPro-Heavy.ttf);
  src: url(./assets/fonts/mark/MarkPro-Heavy.ttf) format('truetype');
  font-weight: 900;
}

$mark: mat.define-typography-config(
  $font-family: 'MarkPro',
);

@include mat.core();
@include mat.all-component-typographies($mark);

html,
body {
  height: 100%;
  margin: 0;
}

cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;

  .cdk-virtual-scroll-content-wrapper {
    max-width: 100% !important;
  }
}
